@import "tailwindcss";

@layer base {
  :root {
    --font-sans: 'Inter Fallback', Inter;
  }

  html, body, #root {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input, button, textarea, select {
    font-family: inherit;
  }
}